
p {
color :red;
text-align: center;

}

.links{
	color: white;
}

div.divs {
	color: white;
	text-align: left;
	display:inline-block;
	width:100%;
	height:20%;

	position: fixed;	
	bottom: 0px;
	border: 0px solid #FFFFFF;
	background-width: 0px;
	z-index: 1;
}

.puntuacion{
	text-align: center;
	color: white;
	
}


.ajustes {
	text-align: center;
	width: 33.33%;
	height: 100%;
	float: left;
	border: 0px solid #FFFFFF;

}
.control {
	text-align: center;
	width: 33.33%;
	height: 100%;
	float: left;
	border: 0px solid #FFFFFF;
}
.pause {
	text-align: center;
	width: 33.33%;
	height: 100%;
	float: left;
	border: 0px solid #FFFFFF;

	
}
.sonido {
	text-align: center;
	width: 33.33%;
	height: 100%;
	float: left;
	border: 0px solid #FFFFFF;
}
.imageajustes {

	height: 100%;
}
.imagenmando {

	height: 100%;
}
.imageapause {

	height: 100%;


}
.imagensonido {

	height: 100%;
}

div.divscontrol {
	color: white;
	width:198px;
	height:5%;
	background-color: black;
	position: fixed; left: 9px;
	border: 1px solid #FFFFFF;
	

}
body {
	height : 100%;
	background-color: lightblue;
    background-image: url("../img/fondoajuegoaplicacion.jpg");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}
span.spans {
	background-color: black;
	border: 1px solid #ffffff;
	position: fixed;bottom;0px;
	}
	
	
	
	div.divs1 {
	text-align: center;
	width: 100%;
	height: 10%;
	position: fixed;
	top: 100px;
	z-index: 1;
}
.nave1 {
	top: 5%;
	height: 20%
	
}
	div.divs2 {
	color: white;
	text-align: center;
	font-size: 30;
	display:inline-block;
	width:100%;
	height:60px;
	background-color: black;
	background-position: fixed;	
	border: 1px solid #FFFFFF;

	position:fixed;right:5px;
	padding-top: 10px;
	box-sizing: border-box;
	
}

	div.luna {
	width:100%;
	height:30%;
  	background-image: url("../img/luna-aplicacion-movil1.png");
	border: 0px solid #FFFFFF;
	position:fixed;bottom:0px;
	left: 0px;
	}
.a{background-color:blue;}
.b{background-color:red;}
.c{background-color:green;}
.a,.b,.c{display:inline-block;width:33.33%;height:200px;}

.divscontrol {
		left: 9%;
			top: 5%;
	color: white;
	width:80%;
	height:5%;
	background-color: black;
	position: fixed; left: 9px;
	border: 1px solid #FFFFFF;
	display:inline-block;


}

.divinfo {
	position: fixed;
	left: 9%;
	top: 5%;
	height: 80%;
	width: 80%;
	border: 1px solid #ffffff;
	border-color: white;
	background-color: black;
	z-index: 1;
}
.divscontrol11 {
	left: 9%;
	top: 5%;
	color: white;
	width:80%;
	height:5%;
	background-color: black;
	position: fixed; left: 9%;
	border: 1px solid #FFFFFF;
	display:inline-block;
	text-align: center;
	font-size: 50;


}
.divscontrol1 {

	top: 10%;
	color: white;
	width:80%;
	height:40%;
	background-color: black;
	position: fixed; left: 9%;
	border: 1px solid #FFFFFF;
	display:inline-block;
		text-align: center;
	font-size: 50;


}
.divscontrol2 {
	left: 9%;
	top: 50%;
	color: white;
	width:80%;
	height:5%;
	background-color: black;
	position: fixed; left: 9%;
	border: 1px solid #FFFFFF;
	display:inline-block;
		text-align: center;
	font-size: 50;


}
.divscontrol3 {
	left: 9%;
	top: 55%;
	color: white;
	width:80%;
	height:40%;
	background-color: black;
	position: fixed; left: 9%;
	border: 1px solid #FFFFFF;
	display:inline-block;
		text-align: center;
	font-size: 50;


}
.divscontrol4 {
	left: 9%;
	top: 65%;
	color: white;
	width:80%;
	height:25%;
	background-color: black;
	position: fixed; left: 9%;
	border: 1px solid #FFFFFF;
	display:inline-block;
		text-align: center;
	font-size: 25;


}

.imageajustesmov {

	height: 10%;
	width: 120%;
	
}
	
	
	
	